<header>
  <h1>Strategia</h1>
</header>
<p>
  <mat-form-field appearance="outline">
    <mat-label>Nuova relazione</mat-label>
    <input [(ngModel)]="relation" matInput placeholder="Placeholder">
  </mat-form-field>
</p>
<button mat-raised-button color="primary" (click)="addNewRelation()">AGGIUNGI!</button>