<mat-table *ngIf="taskDataSource" [dataSource]="taskDataSource" class="mat-elevation-z8" matSort>

  <!-- Name Column -->
  <ng-container matColumnDef="name" >
    <mat-header-cell *matHeaderCellDef class="nameFields" mat-sort-header> Nome </mat-header-cell>
    <mat-cell *matCellDef="let element" class="nameFields"> {{element.name}} </mat-cell>
  </ng-container>
  

  <!-- value Column -->
  <ng-container matColumnDef="val">
    <mat-header-cell *matHeaderCellDef class="valFields" mat-sort-header> Valore </mat-header-cell>
    <mat-cell *matCellDef="let element" class="valFields"> {{element.val}} </mat-cell>
  </ng-container>  

  <!-- / Column -->
  <ng-container matColumnDef="slash">
      <mat-header-cell *matHeaderCellDef class="slashFields"></mat-header-cell>
      <mat-cell *matCellDef="let element" class="slashFields"> / </mat-cell>
  </ng-container>  

  <!-- Maximum Column -->
  <ng-container matColumnDef="max">
    <mat-header-cell *matHeaderCellDef class="maxFields" mat-sort-header> Max </mat-header-cell>
    <mat-cell *matCellDef="let element" class="maxFields"> {{element.max}} </mat-cell>
  </ng-container>  

  <!-- Percentage Column -->
  <ng-container matColumnDef="percentage">
    <mat-header-cell *matHeaderCellDef class="percentageFields" mat-sort-header> Percentuale </mat-header-cell>
    <mat-cell *matCellDef="let element" class="percentageFields"> {{ element.percentage / element.max | number: '1.0-0'}} &nbsp; % </mat-cell>
  </ng-container>  

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>