.nameFields {
    flex-grow: 5;
}
.valFields {
    flex-grow: 2;
    justify-content: center;
}
.slashFields {
    flex-grow: 1;
    text-align: center;
}
.maxFields {
    flex-grow: 2;
    text-align: left;
}
@media screen and (min-width: 799.99px) {
    mat-table {
        margin: 0 8%;
    }
}


