
#container {
    display: flex;
    flex-flow: row wrap;

    #oiba_formList {
        flex-basis: 480px;
        flex-grow: 1;
    }
    #needs_setup {
        // padding-left: 2em;
        // padding-right: 1em;
        flex-basis: 288px;
        flex-grow: 3;
    }
}

@media screen and (min-width: calc(852px)) {
    #needs_setup {
        padding-left: 40px !important;
    }
}
@media screen and (max-width: calc(860px)) {
    #needs_setup {
        display: none
    }
}