#modePicker {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    mat-button-toggle-group {
        height: 52px;
        font-size: larger;
    }
    #rangePicker {
        display: flex;
        flex-flow: row nowrap;
        width: 320px;
        justify-content: space-evenly;
        align-items: baseline;
    }
}
#navigateDiv {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}