<header>
  <h1>
    Monitoraggio
  </h1>
</header>
<div id="modePicker">
<!-- set the mode -->
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [value]="subject" (change)="switchSubject($event.value)">
    <mat-button-toggle value="tasks"><b>&nbsp;Task&nbsp;</b></mat-button-toggle>
    <mat-button-toggle value="needs"><b>&nbsp;Bisogni&nbsp;</b></mat-button-toggle>
    <mat-button-toggle value="by-hand"><b>&nbsp;Analisi&nbsp;</b></mat-button-toggle>
  </mat-button-toggle-group>
  <div id="rangePicker" *ngIf="subject">
    <p>Modalità: </p>
    <mat-form-field>
        <mat-select value='week' (selectionChange)="switchMode($event)">
          <mat-option *ngFor="let item of ranges" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
    </mat-form-field>
  </div>
</div>
<div id="navigateDiv" *ngIf="subject">
<!-- navigate between the stats -->
  <button mat-icon-button aria-label="back a lot" [disabled]="mode == 'month' || mode == 'week'" (click)="backNMonths()">
      <mat-icon>first_page</mat-icon>
  </button>
  <button mat-icon-button aria-label="just back" (click)="back()">
      <mat-icon>chevron_left</mat-icon>
  </button>
  <p>{{dateToDisplay}}</p>
  <button mat-icon-button aria-label="just forward" (click)="forward()" [disabled]="date.isAfter()">
      <mat-icon>chevron_right</mat-icon>
  </button>
  <button mat-icon-button aria-label="forward a lot" [disabled]="mode == 'month' || mode == 'week' || date.isAfter()" (click)="forwardNMonths()">
      <mat-icon>last_page</mat-icon>
  </button>
</div>
<app-task-monitor *ngIf="subject === 'tasks'"   [taskDataSource]="taskDataSource"></app-task-monitor>
<app-oiba-monitor *ngIf="subject === 'needs'"   [needDataSource]="needDataSource"></app-oiba-monitor>
<app-by-hand-monitor *ngIf="subject === 'by-hand'" (editing)="byHandEditing($event)"></app-by-hand-monitor>