
<form [formGroup]="loginUserForm" (ngSubmit)="emailLogin()">
  <p>
    <mat-form-field appearance="outline" [hideRequiredMarker]="true">
      <mat-label>Email</mat-label>
      <input matInput class="form-control" placeholder="Email" type="email" formControlName="email" required>
      <button class="btn_useless" matSuffix mat-icon-button aria-label="Email" readonly tabindex="-1">
        <mat-icon >{{f.email.valid ? 'done_outline' : 'mail_outline' }}</mat-icon>
      </button>
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" [hideRequiredMarker]="true">
      <mat-label>Password</mat-label>
      <input class="form-control" matInput placeholder="Password" [type]="showPassword ? 'text' : 'password'" formControlName="password" required>
      <button matSuffix (click)="showPassword = !showPassword" mat-icon-button aria-label="Password Visible or Not" type="button">
        <mat-icon>{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
      <mat-hint *ngIf="f.password.errors">
        <font *ngIf="f.password.errors.minlength && !f.password.errors.pattern">Minimo 6 caratteri</font>
        <font *ngIf="f.password.errors.maxlength && !f.password.errors.pattern">Massimo 25 caratteri</font>
        <font *ngIf="f.password.errors.pattern">Inserisci almeno un numero</font>
      </mat-hint>
    </mat-form-field>
  </p>
  <p *ngIf="loginError" class="error">
    <mat-icon aria-hidden="false" aria-label="error" color="warn">error_outline</mat-icon>
    &nbsp;&nbsp;
    <font>Credenziali errate</font>
    &nbsp;&nbsp;
    <mat-icon aria-hidden="false" aria-label="error" color="warn">error_outline</mat-icon>
  </p>
  <p>
    <button mat-raised-button color="primary" [disabled]="!loginUserForm.valid" type="submit">ACCEDI</button>
  </p>
</form>