<header>
  <h1>Task {{!showTomorrow ? 'Quotidiani' : 'per Domani'}}
    <i class="material-icons skiptomorrowtoday" (click)="switchTodayTomorrow()">
      {{showTomorrow ? 'skip_previous' : 'skip_next'}}
    </i>
  </h1>
</header>
<div *ngIf="$obj | async as obj">
  <!-- CLASSIC TODO LIST -->
  <div *ngIf="!showTomorrow">
    <!-- TODAY list-->
    <mat-action-list *ngIf="$todayList | async as todayList" [@transition2]>
      <button [@loadingAnimation] id="loadingBtn" mat-list-item *ngIf="waitUpdateFromGFunc.val">
          <mat-spinner [diameter]="38"></mat-spinner><font><b>Caricamento vecchi task non completati...</b></font>
      </button>
      <button [@inOutAnimation] class="taskBtn" *ngFor="let task of todayList.todolist; trackBy: trackByFn; let j=index;" mat-list-item (press)="modify(task, j)" (click)="taskClicked(task, false, j)" [ngStyle]="getStyle4CompletedTask(task, j)">
        <ng-container *ngIf="task.numRep > 1; else doneOrNotTemplate">
        <!-- container for composed task -->
              <div class="div4Composed" *ngFor="let item of getArrayFromNumber(task.numRep); let i=index" [ngStyle]="calculateStyle(i, task)"></div>
              <font class="text-contrast strong pullup preventTextOut taskComposedName">{{task.name}}</font>
              <font *ngIf="!task.completed" class="text-contrast pullup numDone" style="font-size: large;">&nbsp;&nbsp; {{task.numDone}} / {{task.numRep}}</font>
        </ng-container>
        <ng-template #doneOrNotTemplate>
        <!-- container for normal task -->
              <span class="text-contrast strong pullup preventTextOut">{{task.name}}</span>
        </ng-template>
        <div class="percentageDiv">
          <!-- Percentage and completed here -->
            <mat-form-field *ngIf="task.completed" appearance="fill" class="percentage">
                <input matInput maxlength="3" min="0" [value]="task.percentage" (blur)="updatePercentage(task, $event.target.value)">
                <mat-icon [inline]="true" matSuffix>&nbsp;%</mat-icon>
            </mat-form-field>
            <font *ngIf="task.completed" class="completed_task">
              <i class="pullup text-contrast strong completedText"><u>Completato</u> &nbsp;</i>
              <mat-icon class="text-contrast pullup" matListIcon>done_outline</mat-icon>
            </font>
        </div>
      </button>
      <button class="taskBtn" mat-list-item (click)="openCloseTaskEditor(!showTaskEditor)">
        <!-- BUTTON TO CREATE NEW TASKS -->
        <span class="text-contrast strong pullup">{{!showTaskEditor ? 'Nuovo Task' : 'Termina Compilazione...'}}</span>
        <font class="completed_task">
            <mat-icon class="text-contrast pullup md-30" matListIcon>{{!showTaskEditor ? 'add_circle' : 'check_circle_outline'}}</mat-icon>
        </font>
      </button>
    </mat-action-list>
  </div>
  <div *ngIf="showTomorrow" [@transition2]>
    <!-- TOMORROW LIST -->
    <mat-action-list>
      <button [@inOutAnimation] class="taskBtn" *ngFor="let task of obj.tomorrowList.todolist; let y=index" (press)="modify(task, y)" (click)="taskClicked(task, true, y)" [ngStyle]="getStyle4CompletedTask(task, y)" mat-list-item>
        <ng-container *ngIf="task.numRep > 1; else doneOrNotTemplate">
        <!-- container for composed task -->
              <font class="text-contrast strong pullup preventTextOut taskComposedName">{{task.name}}</font>
              <font *ngIf="!task.completed" class="text-contrast pullup numDone" style="font-size: large;">&nbsp;&nbsp; {{task.numDone}} / {{task.numRep}}</font>
        </ng-container>
        <ng-template #doneOrNotTemplate>
        <!-- container for normal task -->
              <span class="text-contrast strong pullup preventTextOut">{{task.name}}</span>
        </ng-template>
      </button>
      <button class="taskBtn" mat-list-item (click)="openCloseTaskEditor(!showTaskEditor)">
        <!-- BUTTON TO CREATE NEW TASKS -->
        <span class="text-contrast strong pullup">{{!showTaskEditor ? 'Nuovo Task' : 'Termina Compilazione...'}}</span>
        <font class="completed_task">
            <mat-icon class="text-contrast pullup md-30" matListIcon>{{!showTaskEditor ? 'add_circle' : 'check_circle_outline'}}</mat-icon>
        </font>
      </button>
    </mat-action-list>
  </div>
  <div *ngIf="showTaskEditor" [@transition]>
    <!-- MODIFYING TODO LIST -->
    <div *ngIf="obj.containerTask as outline">
      <app-chip-list *ngIf="outline.list.length" [chipsInfo]="outline" [selectedAndInserted]="$selectedAndInserted" (selected)="chipSelected($event)"></app-chip-list>
      <app-task-editor></app-task-editor>
    </div>
  </div>
</div>
