mat-action-list {
    #loadingBtn {
        touch-action: initial !important;
        justify-content: flex-start !important;
        margin: 2px;
        overflow-y: hidden;
        cursor: default;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        mat-spinner {
            position: absolute;
        }
        font {
            margin-left: 48px
        }
    }
    .taskBtn {
        touch-action: initial !important;
        animation-iteration-count: infinite;
        justify-content: space-between !important;
        margin: 2px;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        transition: background-color 0.4s ease;
        .div4Composed {
            position: absolute;
            top: 0px;
            height: 100%;
            transition: background-color 0.4s ease;
        }
        .taskComposedName {
            margin-right: 48px;
        }
        .numDone {
            white-space: nowrap;
            position: absolute;
            right: 16px
        }
        .strong {
            font-weight: 600;
        }
        .pullup {
            z-index: 998;
        }
        .preventTextOut {        
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
        .completed_task {
            display: inline-flex;
            align-items: center;
            color: white;
            // order: 2;
            .completedText {
                display: none;
            }
            .md-30 {
                font-size: 30px
            }
        }
        .percentageDiv {
            white-space: nowrap;
            .percentage {
                box-sizing: initial;
            }
        }
    }
}
.skiptomorrowtoday {
    font-size: 30px;
    cursor: pointer;
    margin-left: 1%
}
.skiptomorrowtoday:hover {
    color: rgb(250, 129, 66);
}
@keyframes modify {
    0%, 100% {
        transform: rotate(0.3deg);
        background-color: rgba(177,177,177,0.2)
    }
    50% {
        transform: rotate(-0.3deg);
        background-color: rgba(177,177,177,0.3)
    }
}
@media screen and (max-width: 599.99px) {
    // make completed text disappear when mobile
    .completedText {
        display: none;
    }
    @keyframes modify {
        0%, 100% {
            transform: rotate(0.7deg);
            background-color: rgba(177,177,177,0.2)
        }
        50% {
            transform: rotate(-0.7deg);
            background-color: rgba(177,177,177,0.3)
        }
    }
}


