<ng-container *ngIf="$userAuth | async; else notLoggedTemplate">
        <!-- if user is LOGGED -->
        <button mat-raised-button color="primary" (click)="logout()">ESCI</button>
</ng-container>
<ng-template #notLoggedTemplate>
    <!-- if user is NOT LOGGED -->
    <ng-container *ngIf="sharedEmail; else directEntryTemplate">
        <!-- if the user went on this page with the home redirect -->
        <ng-container *ngIf="sharedEmail.userExists; else signupTemplate">
            <!-- if the user that went from home ALREADY EXISTS -->
            <app-login [sharedEmail]="sharedEmail"></app-login>
        </ng-container>
        <ng-template #signupTemplate>
            <!-- if the user that went from home NOT EXISTS -->
            <app-signup [sharedEmail]="sharedEmail"></app-signup>
        </ng-template>
        <button mat-raised-button color="primary" (click)="sharedEmail.userExists = !sharedEmail.userExists">{{ sharedEmail.userExists ? 'non sei ancora iscritto?' : 'sei gia iscritto?' }}</button>
    </ng-container>
    <ng-template #directEntryTemplate>
        <!-- if the user went on this page clicking on navigation btn or entryPage of application -->
        <ng-container *ngIf="showLoginIfEntryDirectly; else directSignUpTemplate">
            <!-- virgin login -->
            <app-login></app-login>
        </ng-container>
        <ng-template #directSignUpTemplate>
            <!-- virgin signup -->
            <app-signup></app-signup>
        </ng-template>
        <button mat-raised-button color="primary" (click)="showLoginIfEntryDirectly = !showLoginIfEntryDirectly">{{ showLoginIfEntryDirectly ? 'non sei ancora iscritto?' : 'sei gia iscritto?' }}</button>
    </ng-template>
</ng-template>
