<mat-card *ngFor="let result of monitorSer.results">
    <mat-card-title>
        {{result.name}}
    </mat-card-title>
    <div>
        <app-behavior *ngFor="let value of result.behaviors" [behavior]="value"></app-behavior>
    </div>
</mat-card>