form {
    width: 100%;
    mat-form-field {
        width: 100%;
        textarea.mat-input-element {
            overflow: hidden;
        }
    }
    #relationField {
        margin-top: -19px;
        margin-bottom: 17px;
    }
    #div_moods {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-content: center;
        height: 89px;
        #fieldMoods {
            width: 204px;
            white-space: nowrap;
        }
        #addNewMoodBtn {
            top: 6px;
        }
        #addNewMood {
            width: 204px;
        }
    }
    #perceptionField {
        margin-top: 8px;
    }
    #div_mentalPattern {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-content: center;
        #fieldsMental {
            width: 204px;
            display: flex;
            flex-flow: row nowrap
        }
        #addNewMentalPatternBtn {
            top: 6px;
        }
        #addNewMental {
            position: relative;
            mat-radio-group {
                margin-top: 4px;
                display: flex;
                flex-direction: column;
                mat-radio-button {
                    margin: 5px;
                }
            }
            width: 204px;
        }
    }
    #div_adapted {
        flex-flow: row wrap;
        display: flex;
        justify-content: space-around;
        align-items: center;
        mat-slide-toggle {
            padding: 4px 15px;
            border-radius: 15px;
        }
    }
}

.stepperBtn {
    float: right
}

#div_btn_sub {
    flex-flow: row nowrap;
    display: flex;
    justify-content: space-around;
    button {
        margin: 25px 0px;
        min-width: 150px
    }
}

@media screen and (max-width: 345.99px) {
    #addNewMoodBtn {
        transform: translateX(5px);
    }
    #addNewMentalPatternBtn {
        transform: translateX(5px);
    }
    #div_btn_sub {
        button {
            margin: 25px 0px;
            min-width: 100px
        }
    }
    
}
