<div *ngIf="!oiba.positive">
  <mat-basic-audio-player
  [audioUrl]="audioUrl"
  [title]="audioTitle" 
  [displayTitle]="false"
  [displayVolumeControls]="true"></mat-basic-audio-player>  
</div>
<mat-vertical-stepper linear="false">
  <mat-step [stepControl]="macroForm" label="Intercettazione Bisogni">
    <form [formGroup]="macroForm">
      <mat-form-field appearance="outline" [hideRequiredMarker]="true" >
        <mat-label>Situazione</mat-label>
        <textarea cdkTextareaAutosize matInput class="form-control" formControlName="situation" required autofocus></textarea>
      </mat-form-field>
      <br>
      <mat-form-field appearance="legacy" id="relationField"[hideRequiredMarker]="true">
        <mat-label>Relazioni coinvolte</mat-label>
        <mat-select formControlName="relations" multiple>
          <mat-option *ngFor="let item of relationList$ | async" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <div id="div_moods">
        <div id="fieldMoods">
            <mat-select-autocomplete [@inOutAnimation] *ngIf="!showNewMood && moodsPos"
            [placeholder]="'Stato/i d\'animo'"
            [options]="oiba.positive ? moodsPos : moodsNeg"
            selectPlaceholder=" Cerca..."
            [multiple]='true'
            name="moodsSelector"
            ngDefaultControl
            [formControl] = "macroF['moods']"
            required="true"
            appearance="outline">
          </mat-select-autocomplete>
          <mat-form-field appearance="fill" id="addNewMood" [@inOutAnimation] *ngIf="showNewMood">
              <mat-label>Nuovo stato d'animo</mat-label>
              <input type="text" matInput class="form-control" formControlName="newMood">
              <mat-icon matSuffix>{{oiba.positive ? 'sentiment_very_satisfied' : 'sentiment_very_dissatisfied'}}</mat-icon>
              <mat-error *ngIf="macroF.newMood.hasError('alreadyIn')">
                  Lo stato d'animo è gia nella lista
              </mat-error>
              <mat-error *ngIf="macroF.newMood.hasError('minlength')">
                  Almeno 3 lettere
              </mat-error>
          </mat-form-field>
        </div>
        <button id="addNewMoodBtn"  matTooltip="Aggiungi nuovo stato d'animo nella lista" [matTooltipPosition]="'left'" (click)="openAddNewMood()" type="button" mat-fab aria-label="Add a new mood">
          <mat-icon>{{showNewMood ? 'done' : 'add'}}</mat-icon>
        </button>
      </div>
      <mat-form-field id="perceptionField" *ngIf="!oiba.positive" appearance="outline" [hideRequiredMarker]="true">
        <mat-label>Percezione</mat-label>
        <textarea cdkTextareaAutosize matInput class="form-control" formControlName="perception"></textarea>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label>Bisogno</mat-label>
        <mat-select formControlName="needs"  multiple required>
          <mat-optgroup *ngFor="let group of needs" [label]="group.category"
                        [disabled]="group.disabled">
            <mat-option *ngFor="let item of group.list" [value]="item.idNeed">
              {{item.name}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-step>
  <mat-step [stepControl]="actionresultForm" label="Esito Percezione" [@stepAnimation] *ngIf="!oiba.positive">
    <form [formGroup]="actionresultForm">
      <mat-form-field  appearance="outline" [hideRequiredMarker]="true">
        <mat-label>Comportamento</mat-label>
        <textarea cdkTextareaAutosize matInput placeholder="se agito" class="form-control" formControlName="action"></textarea>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label>Risultato</mat-label>
        <textarea cdkTextareaAutosize matInput class="form-control" formControlName="result"></textarea>
      </mat-form-field>
      <br >
      <div id="div_adapted">
        <mat-slide-toggle matRipple  [matRippleColor]="'rgba(123,123,123,0.25)'" class="form-control" formControlName="disadapted" color="primary">{{actionresultF.disadapted.value ? 'DISADATTIVO' : 'ADATTIVO'}}</mat-slide-toggle>
      </div>
    </form>
  </mat-step>
  <mat-step [@stepAnimation] [stepControl]="alignmentForm" *ngIf="!oiba.positive && actionresultF.disadapted.value" label="Allineamento">
    <form [formGroup]="alignmentForm">
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label>Allineamento Empatico</mat-label>
        <textarea cdkTextareaAutosize matInput class="form-control" formControlName="empathAlignment"></textarea>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label>Allineamento Percettivo</mat-label>
        <textarea cdkTextareaAutosize matInput class="form-control" formControlName="perceptiveAlignment"></textarea>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label>Stato, Comportamento e Risultato Adattivo</mat-label>
        <textarea cdkTextareaAutosize matInput class="form-control" formControlName="mood_action_result2"></textarea>
      </mat-form-field>
    </form>
  </mat-step>
  <mat-step [stepControl]="mentalPatternForm" [@stepAnimation] *ngIf="!oiba.positive && actionresultF.disadapted.value" label="Schema mentale">
    <form [formGroup]="mentalPatternForm">
          <div id="div_mentalPattern">
            <div id="fieldsMental">
              <mat-form-field appearance="outline" *ngIf="!showNewMentalPattern && mentalList" [@inOutAnimation]>
                <mat-label>Schema mentale</mat-label>
                <mat-select class="form-control" formControlName="mentalPattern">
                  <mat-option> -- reset --</mat-option>
                  <mat-optgroup *ngFor="let group of mentalListForSelect" [label]="' - ' + group.categoria + ' - '"
                                [disabled]="group.disabled">
                    <mat-option *ngFor="let item of group.list" [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>
              <div id="addNewMental" *ngIf="showNewMentalPattern" [@inOutAnimation]>
                <mat-form-field appearance="fill">
                  <mat-label>Nuovo Schema Mentale</mat-label>
                  <input type="text" matInput class="form-control" formControlName="newMentalPattern">
                  <mat-icon matSuffix>emoji_objects</mat-icon>
                  <mat-error *ngIf="mentalPatternF.newMentalPattern.hasError('alreadyIn')">
                      Questo schema è già presente
                  </mat-error>
                  <mat-error *ngIf="mentalPatternF.newMentalPattern.hasError('category')">
                      Selezionare una categoria qui sotto
                  </mat-error>
                  <mat-error *ngIf="mentalPatternF.newMentalPattern.hasError('minlength')">
                      Almeno 3 lettere
                  </mat-error>
                </mat-form-field>
                <mat-radio-group aria-labelledby="categoria schema mentale" class="form-control" formControlName="categoryNewMentalPattern">
                  <mat-radio-button value="begin">
                    Iniziare
                  </mat-radio-button>
                  <mat-radio-button value="reduce">
                    Ridurre
                  </mat-radio-button>
                  <mat-radio-button value="remove">
                    Eliminare
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <button id="addNewMentalPatternBtn"  matTooltip="Aggiungi nuovo schema mentale nella lista" (click)="openAddNewMentalPattern()" [matTooltipPosition]="'left'" type="button" mat-fab aria-label="Add a new mental pattern">
              <mat-icon>{{showNewMentalPattern ? 'done' : 'add'}}</mat-icon>
            </button>
          </div>
    </form>
  </mat-step>
</mat-vertical-stepper>
<div id="div_btn_sub">
  <button mat-raised-button (click)="backToList()" type="button" color="warn">INDIETRO</button>
  <button mat-raised-button (click)="saveOiba()" [disabled]="!macroForm.valid" color="primary" type="button">SALVA</button>
</div>