$icon-size: 38px;

.sidenav-container {
    height: 100%;
    .mat-sidenav {
     //   width: 150px !important;
    }
}

/*.sidenav .mat-toolbar {
    background: inherit;
}*/

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

mat-icon {
    font-size: $icon-size;
    height: $icon-size;
    width: $icon-size;
    cursor: pointer;
    // not selectable
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    outline: none !important;
}

a > mat-icon:hover {
    color: #fa8142;
}
#sidenav-desktop{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    mat-icon {
        margin: 15px 0;
    }
}
#sidenav-mobile{
    mat-nav-list { // navigation bar for mobile
        padding-top: 0px; 
        a {
            height: 56px;
            display: flex;
            flex-direction: row;
            justify-items: baseline;
        }
    } 
}
#home_btn_desktop {
    color: #fff;
    width: 70px;
    height: 70px;
    top: 0px;
    left: 0px;
    position: fixed;
    box-shadow: -2px 2px 10px -3px rgba(0, 0, 0, 0.34);
    background-image: linear-gradient(to bottom right,#fb9865,#f96a1f 85%);
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    outline: none !important;
}
#home_btn_mobile {
    color: #fff;
    background-image: linear-gradient(to bottom right,#fb9865,#f96a1f 85%)
}
.desktop { // toolbar a destra floattante
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: .5em 1.5em;
    position: fixed;
    right: 0px;
    top: 0px;
    width: auto;
    height: 70px;
    z-index: 999;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    #container_icon {
        display: inline-flex;
        flex-direction: row;
        align-content: center;
        div {
            width: 70px;
            height: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        #profile_icon_desktop {
            border-right: 1px solid rgba(120, 120, 120, 0.34);
            mat-icon {
                transition: color 0.2s ease;
            }
        }
        /*#profile_icon_desktop:hover {
            color: #fa8142
        }*/
        #theme_icon_desktop {
        }
    }
    
}
.router-link-active {
    color: #fa8142;
    mat-icon { color: #fa8142; }
}
.mobile { // toolbar
    div {
        width: 100%;
        display: inline-flex;
        justify-content: flex-end;
        //justify-items: space-between;
        mat-icon { // rimetto in riga le icone
            line-height: normal;
            vertical-align: middle;
        }
        // pulsante che apre il menu da mobile
        #menu_btn_mobile {
            margin-right: auto;
            justify-self: flex-start
        }
        .space_between {
            flex-grow: 1;
            flex-shrink:1;
        }
            #theme_btn_mobile {
                
            }
            #profile_btn_mobile {
                margin-right: 10px;
            }
    }
}

#app-body {
    padding: 1em;
    flex: 1 1 0%;
}