<mat-sidenav-container class="sidenav-container" [ngClass]="theme">
        <mat-sidenav [ngStyle]="{'width': (isHandset$ | async) ? '150px !important' : '70px'}" #drawer class="sidenav" fixedInViewport="true"
            [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
            [mode]="(isHandset$ | async) ? 'over' : 'side'"
            [opened]="!(isHandset$ | async)">
            
            <div id="sidenav-mobile" *ngIf="(isHandset$ | async)">
                <mat-nav-list>
                    <a (click)="drawer.close()" id="home_btn_mobile" mat-list-item [routerLink]="['/home']" href="#">
                        <mat-icon >home</mat-icon>
                        &nbsp;LOGO
                    </a>
                    <a (click)="drawer.close()" mat-list-item [routerLink]="['/todoList']" routerLinkActive="router-link-active" href="#">
                        <mat-icon>assignment</mat-icon>
                        &nbsp;TODOLIST
                    </a>
                    <a (click)="drawer.close()" mat-list-item [routerLink]="['/OIBA']" routerLinkActive="router-link-active" href="#">
                        <mat-icon>sentiment_very_satisfied</mat-icon>
                        &nbsp;OIBA
                    </a>
                    <a (click)="drawer.close()" mat-list-item [routerLink]="['/monitor/default']" routerLinkActive="router-link-active" href="#">
                        <mat-icon>timeline</mat-icon>
                        &nbsp;MONITOR
                    </a>
                    <a (click)="drawer.close()" mat-list-item [routerLink]="['/strategy']" routerLinkActive="router-link-active" href="#">
                        <mat-icon>import_contacts</mat-icon>
                        &nbsp;STRATEGIA
                    </a>
                </mat-nav-list>
            </div>
            <div id="sidenav-desktop" *ngIf="!(isHandset$ | async)">
                <mat-toolbar [routerLink]="['/home']" href="#" id="home_btn_desktop"><mat-icon>home</mat-icon></mat-toolbar>
                <a>
                    <mat-icon matTooltip="Today's Task"  [matTooltipPosition]="'right'" [routerLink]="['/todoList']" routerLinkActive="router-link-active" href="#" >assignment</mat-icon>
                </a>
                <a>
                    <mat-icon matTooltip="OIBA" [matTooltipPosition]="'right'"  [routerLink]="['/OIBA']" routerLinkActive="router-link-active" href="#" >sentiment_very_satisfied</mat-icon>
                </a>
                <a>
                    <mat-icon matTooltip="Monitor" [matTooltipPosition]="'right'"  [routerLink]="['/monitor/default']" routerLinkActive="router-link-active" href="#" >timeline</mat-icon>
                </a>
                <a>
                    <mat-icon matTooltip="Strategia" [matTooltipPosition]="'right'"  [routerLink]="['/strategy']" routerLinkActive="router-link-active" href="#" >import_contacts</mat-icon>
                </a>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar [ngClass]="{'mobile': (isHandset$ | async) , 'desktop': !(isHandset$ | async)}">
                <div *ngIf="isHandset$ | async">
                    <button id="menu_btn_mobile"
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <button
                    type="button" id="profile_btn_mobile"
                    aria-label="profile"
                    mat-icon-button
                    [routerLink]="['/profile']" routerLinkActive="router-link-active" >
                        <mat-icon>{{ ($userAuth | async) ? 'how_to_reg' : 'person' }}</mat-icon>
                    </button>
                    <button
                    type="button" id="theme_btn_mobile"
                    aria-label="theme change"
                    mat-icon-button (click)="swapTheme()">
                        <mat-icon>{{theme == 'dark' ? 'brightness_high' : 'brightness_3'}}</mat-icon>
                    </button>
                </div>
                <div id="container_icon" *ngIf="!(isHandset$ | async)">
                    <div id="profile_icon_desktop">
                        <mat-icon [routerLink]="['/profile']" routerLinkActive="router-link-active"  aria-label="Side nav toggle icon">{{ authUser ? 'how_to_reg' : 'person' }}</mat-icon>
                    </div>
                    <div id="theme_icon_desktop">
                        <mat-icon (click)="swapTheme()" aria-label="change theme color">{{theme == 'dark' ? 'brightness_high' : 'brightness_3'}}</mat-icon>
                    </div>
                </div>
                
            </mat-toolbar>
            <div id="app-body" [@routeAnimations]="prepareRoute(outlet)">
                <router-outlet #outlet="outlet"></router-outlet>
            </div>
    </mat-sidenav-content>
</mat-sidenav-container>