<div class="containerChips">
  <mat-form-field class="chip-list">
    <mat-chip-list #chipList aria-label="item selection" [multiple]="multiple">
      <mat-chip *ngFor="let item of chipsInfo.list; let i=index"
              [selectable]="true" [selected]="amISelected(i)"
              (click)="selectMe(item)" [selectable]="true"
              [removable]="removable" (removed)="remove(i)">
        <font class="strong preventTextOut">{{item}}</font>
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input  *ngIf="addable" placeholder="Compila la lista..."
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>
</div>