.containerChips {
    padding: 15px 0;
    width: calc(100% - 4px); // 4px came from .mat-chip-list-wrapper that sets all margins to  -4px
    overflow-y: hidden;
    overflow-x: hidden;
    .chip-list {
        width: 100%;
        font { // used to prevent click on subelements
            pointer-events: none;
        }
        .preventTextOut {        
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
