
.btn_useless {
    pointer-events: none;
}
form {
    max-width: 244px;
    margin: auto;
    button {
        font-weight: bold;
        display: inline-block;
        width: 100%;
    }
    p {
        margin: 2px 0px
    }
    .error {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
    }
}
    