#dateOiba {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-bottom: 15px;
    mat-form-field {
        display: none;
    }
    .dateBtn {
        font-size: medium;
    }
    .navigateIcons {
        mat-icon {
            // font-size: 30px;
        }
    }
}
mat-card {
    margin: 5px 0px;
    cursor: pointer;
    mat-card-header {
        height: 65px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        mat-card-title {
            margin-bottom: 27px;
            font-size: 19px
        }
        mat-card-subtitle {
            bottom: -11px;
        }
        .needsList {
            font {
                border: 1px solid #FA8142;
                border-bottom: 0px;
                border-top: 0px;
                border-radius: 8px;
                padding-left: 5px;
                padding-right: 7px;
                margin-right: 5px;
            }
        }
        div > i {
            font-size: 35px;
        }
        .oibaDate {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            font-size: 14px;
            margin-top: 7px;
            mat-icon {
                font-size: 15px
            }
        }
        .iconPositiveOrNot {
            mat-icon {
                font-size: 32px
            }
            right: 15px;
            position: absolute;
        }
    }
    
}
#newOiba {
    cursor: unset;
    mat-card-header {
        height: auto;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        mat-card-title {
            margin-bottom: 5px;
            font-size: 20px
        }
    }
    mat-card-actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        padding: 0px 0px;
        p {
            font-size: 18px;
        }
        button {
            cursor: pointer;
            height: 60px;
            width: 60px;
            mat-icon {
                font-size: 50px;
                height: 50px;
                width: 50px;
                line-height: 29px;
            } 
        }
        button:hover {
            mat-icon {
                transition: 0.22s;
                font-size: 58px;
                height: 58px;
                width: 58px;
                color: #FA8142
            }
        }
    }
}
.preventTextOut {        
    bottom: 30px;
    position: absolute;
    left: 60px;
    right: 48px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis
}
app-oiba-form {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

@keyframes bounceIn {
0% {
    transform: scale(0.1);
    opacity: 0;
}
60% {
    transform: scale(1.2);
    opacity: 1;
}
100% {
    transform: scale(1);
}
}
