<div *ngIf="!editorOpen" [@inOutAnimationFromCard]>
    <div id="dateOiba">
        <mat-form-field>
            <input matInput [max]="today" [matDatepicker]="picker" [value]="oibaDateList" (dateChange)="changeOibaDateList($event.value)">
            <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
        <button class="navigateIcons" mat-icon-button aria-label="subtract 1 day" (click)="changeOibaDateList(oibaDate, '-')">
            <mat-icon>skip_previous</mat-icon>
        </button>
        <button color="accent" class="dateBtn" mat-raised-button (click)="picker.open()">{{oibaDateList | date:'dd / MM / yyyy'}}</button>
        <button class="navigateIcons" mat-icon-button aria-label="add 1 day" (click)="changeOibaDateList(oibaDate, '+')" [disabled]="oibaDateList.isSame(today)">
            <mat-icon>skip_next</mat-icon>
        </button>
    </div>
    <div>
        <mat-card *ngFor="let item of oibaList" [@inOutAnimationFromCard] (click)="openOibaEditor(item)">
            <mat-card-header>
                    <div mat-card-avatar>
                        <i class="material-icons">edit</i>
                    </div>
                    <mat-card-title class="preventTextOut">{{item.situation}}</mat-card-title>
                    <mat-card-subtitle class="preventTextOut">
                        <div class="needsList">
                            <font *ngFor="let needName of item.needs">
                                <i>{{needName}}</i>
                            </font>
                        </div>
                        <div class="oibaDate">
                            <mat-icon>
                                date_range
                            </mat-icon>
                            <u>{{item.date.seconds * 1000 | date:'dd/MM/yyyy - HH:mm'}}</u>
                        </div>
                    </mat-card-subtitle>
                    <div class="iconPositiveOrNot">
                        <mat-icon color="primary">{{ item.positive ? 'sentiment_satisfied_alt' : 'sentiment_very_dissatisfied'}}</mat-icon>
                    </div>
            </mat-card-header>
        </mat-card>
    </div>
    <mat-card id="newOiba" *ngIf="oibaDateList.isSame(today)" [@inOutAnimationFromNewOiba]>
        <mat-card-header>
            <div mat-card-avatar>
                <i class="material-icons">add_circle</i>
            </div>
            <mat-card-title><b>Nuovo O.I.B.A.</b></mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <p>Come ti senti?</p>
            <button mat-fab aria-label="positive Oiba" (click)="openOibaEditor({positive: true, date: null, lastTimeUpdated: null, situation: '', moods: [], needs: [], needsId: []})">
                    <mat-icon>sentiment_satisfied_alt</mat-icon>
            </button>
            <button mat-fab aria-label="negative Oiba" (click)="openOibaEditor({positive: false, date: null, lastTimeUpdated: null, situation: '', moods: [], needs: [], needsId: []})">
                    <mat-icon>sentiment_very_dissatisfied</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>
<div [@inOutAnimation] *ngIf="editorOpen">
    <app-oiba-form (doneWithForm)="doneWithForm($event)" ></app-oiba-form>    
</div>
