// import custom componenet themes
// unofficial naming convention to support nice ordering of files in IDE 
// to see theme under the original style file of the componenent

@import 'sidenav.component.scss-theme.scss';
@import 'formField.component.scss-theme.scss';
@import 'tooltip.component.scss-theme.scss';
@import 'list.component.scss-theme.scss';
@import 'mat-card.component.scss-theme.scss';
// you only have to add additional componenets here (instead of in every theme class)
@mixin custom-components-theme($theme) {

    @include sidenav-component-theme($theme);
    @include formField-component-theme($theme);
    @include mat-tooltip-theme($theme);
    @include mat-card-theme($theme);
    @include mat-list-item-base();
    

    @media screen and (max-width: 380.99px) { // cause stepper hasn't his customizable module
        .mat-vertical-content-container {
            margin-left: 20px
        }
        .mat-vertical-stepper-header {
            padding-left: 8px !important
        }
        .mat-vertical-content {
            padding: 0 16px 24px 16px;
        }
    }
    @media screen and (max-width: 350.99px) { // cause stepper hasn't his customizable module
        .mat-vertical-content {
            padding: 0 15px 24px 15px;
        }
        #addNewMoodBtn, #addNewMentalPatternBtn {
            top: 16px !important;
            height: 36px;
            width: 36px;
            mat-icon {
                transform: translateY(-11px);
            }
        }
    }
}