@import '~@angular/material/theming';
@mixin formField-component-theme($theme) {
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $is-dark-theme: map-get($theme, is-dark);
  
  $label-disabled-color: mat-color($foreground, disabled-text);
  $outline-color: mat-color($foreground, divider, if($is-dark-theme, 0.7, 0.4));
  $outline-color-hover: mat-color($foreground, divider, if($is-dark-theme, 1, 0.87));
  $outline-color-primary: mat-color($primary);
  $outline-color-accent: mat-color($accent);
  $outline-color-warn: mat-color($warn);
  $outline-color-disabled: mat-color($foreground, divider, if($is-dark-theme, 0.15, 0.06));
  $label-color: mat-color($foreground, secondary-text, if($is-dark-theme, 0.7, 0.9));
  $percentage-color: mat-color($background, percentage);
  
  $is-dark-theme: map-get($theme, is-dark);
  $label-color: mat-color($foreground, secondary-text, if($is-dark-theme, 0.7, 0.9));
  
  // MATERIAL-STROKED-BUTTON BELOW
  button.mat-stroked-button:not([disabled]) {
    border-color: mat-color($foreground, border-stroked-button);

    .mat-ripple-element {
      opacity: 0.1;
      background-color: map_get($background, focused-button);
    }
  
    .mat-button-focus-overlay {
      background: map_get($foreground, base);
    }
  }

  // MATERIAL-SELECT BELOW
  .mat-select-placeholder {
    color: $label-color !important;
  }
  .box-search { // this is mat-complete multiple from npm - NOT OFFICIAL
    input {
        background-color: mat-color($background, card);
        padding-left: 25px;
        color: $label-color;
        font-size: 15px;
    }
    mat-checkbox {
      display: none
    }
  }

  .mat-form-field { // form field generale
    color: mat-color($foreground, text) !important; // changes the text of the <input>
    .mat-form-field-label {
      color: $label-color;
    }
    .mat-hint {
      color: $label-color;
    }
  }
  .percentage {
    margin-right: 15px;
    width: 70px;
    top: 11px;
    .mat-form-field-wrapper {
      height: 40px;
    }
    .mat-form-field-flex {
      height: 40px;
      background-color: $percentage-color;
      .mat-form-field-infix {
        top: -16px;
        //font-weight: bold;
        input {
          text-align: right;
        }
      }
      .mat-form-field-suffix {
        top: -16px;
        font-size: 18px;
      }
    }
  }
  .slimField {
    .mat-form-field-wrapper {
      padding-bottom: 0px;
      .mat-form-field-underline {
        bottom: 0px;
      }
    }
    .mat-form-field-flex {
      .mat-form-field-infix {
          border-top: 0px solid transparent;
      }
      .mat-form-field-suffix {
      }
    }
  }
  
  .mat-form-field-appearance-outline { // form field outline
    .mat-form-field-outline {
      color: $outline-color;
    }
    mat-icon {
      color: mat-color($foreground, divider);
    }
    .mat-form-field-outline-thick {
      color: $outline-color-hover;
    }

    &.mat-focused { // sotto focus
      .mat-form-field-outline-thick {
        color: $outline-color-primary;
      }
      /*
      &.mat-accent .mat-form-field-outline-thick {
        color: $outline-color-accent;
      }

      &.mat-warn .mat-form-field-outline-thick {
        color: $outline-color-warn;
      }
      */
    }

    // Class repeated so that rule is specific enough to override focused accent color case.
    &.mat-form-field-invalid.mat-form-field-invalid { // dopo essere deselezionato e invalido
      .mat-form-field-label {
        color: $label-color;
      }
      .mat-form-field-outline-thick {
        color: $outline-color;
      }
    }

    &.mat-form-field-disabled {
      .mat-form-field-label {
        color: $label-disabled-color;
      }

      .mat-form-field-outline {
        color: $outline-color-disabled;
      }
    }
  }/*
  .mat-form-field {
    // dopo che il formField è stato cliccato il color si setta a $accent 500 per .light
    color: mat-color($foreground, text) !important; // changes the text of the <input>
    // outline-color: mat-color($accent, darker);
    opacity: 1;
    
    &[color=primary]{
      @include _mat-toolbar-color($primary);
    }
    &[color=accent]{
      @include _mat-toolbar-color($accent);
    }
    &[color=warn]{
      @include _mat-toolbar-color($warn);
    }
  }*/
}
@media screen and (min-width: 599.99px) {
  .percentage {
    margin-right: 30px !important;
  }
}