@import '~@angular/material/theming';
@mixin sidenav-component-theme($theme) {
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $drawer-background-color: mat-color($background, dialog);
  $drawer-container-background-color:  mat-color($background, background);
  $drawer-push-background-color: mat-color($background, dialog);


  .mat-sidenav{
    border: 1px solid mat-color($background, app-bar);
    border-left: 0px solid mat-color($background, app-bar);
    border-top: 0px solid mat-color($background, app-bar);
    border-right: 0px solid mat-color($background, app-bar);
    background-color: mat-color($background, app-bar);
    color: mat-color($foreground, icon);
    box-shadow: 4px 0 10px -3px mat-color($background, shadow);
    
    &[color=primary]{
      @include _mat-toolbar-color($primary);
    }
    &[color=accent]{
      @include _mat-toolbar-color($accent);
    }
    &[color=warn]{
      @include _mat-toolbar-color($warn);
    }
  }
  mat-sidenav-content {
    height: 100%;
  }
  #app-body {
    background-color: map-get($background, background);
    min-height: 100%;
    overflow: hidden;
    color: map-get($foreground, text);
    transition-duration: 250ms;
    transition-property: background-color;
    transition-timing-function: ease;
    header {
      h1 {
          border-color: map-get($background, card);
      }
    }    
    .text-contrast {
        color: map-get($background, contrast);
    }
  }
}