form {
    margin-top: 5px;
    margin-left: 0.2%;
    margin-right: 0.2%;
    width: 99.6%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
    #nameField {
        flex-grow: 1;
        order: 1;
    }
    #numRepField {
        width: 70px;
        margin-left: 2%; 
        order: 2;
    }
    #divCompileRoutine {
        margin-top: -5px;
        margin-bottom: 5px;
        width: 80%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: baseline;
        #divWeek{
            display: flex;
            flex-flow: row nowrap;
            // justify-content: space-around;
            align-items: baseline;
            mat-checkbox {
                margin: 0 2%;
            }
        }
        #datePicker{
            display: flex;
            flex-flow: row nowrap;
        }
        order: 5;
    }
    mat-slide-toggle {
        margin-left: 2%;
        order: 3;
            padding: 4px 15px;
            border-radius: 15px;
    }
    button {
        margin-left: 2%;
        order: 4;
    }
}

@media screen and (max-width: 599.99px) {
    // make completed text disappear when mobile
    #datePicker {
        flex-basis: 100%;
        margin-top: 6px;
        justify-content: center
    }
    #divWeek {
        flex-basis: 100%;
        justify-content: center;
    }
    mat-slide-toggle {
        order: 5 !important;
    }
    button {
        order: 6 !important;
    }
}