<form [formGroup]="taskForm" (ngSubmit)="saveTask()">
  <mat-form-field appearance="fill" [hideRequiredMarker]="true" id="nameField">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="task.name" class="form-control" formControlName="name" required autofocus>
  </mat-form-field>
  <mat-form-field appearance="fill" [hideRequiredMarker]="true" id="numRepField">
    <mat-label>Steps</mat-label>
    <input matInput class="form-control" formControlName="numRep" type="number" required>
  </mat-form-field>
  <div id="divCompileRoutine" *ngIf="routineVal" @transition>
    <div id="divWeek">
      <mat-checkbox class="form-control" formControlName="mon" >L</mat-checkbox>
      <mat-checkbox class="form-control" formControlName="tue" >M</mat-checkbox>
      <mat-checkbox class="form-control" formControlName="wed" >M</mat-checkbox>
      <mat-checkbox class="form-control" formControlName="thu" >G</mat-checkbox>
      <mat-checkbox class="form-control" formControlName="fri" >V</mat-checkbox>
      <mat-checkbox class="form-control" formControlName="sat" >S</mat-checkbox>
      <mat-checkbox class="form-control" formControlName="sun" >D</mat-checkbox>
    </div>
    <div id="datePicker">
      <mat-form-field matTooltip="Non Obbligatorio" [matTooltipPosition]="'right'">
          <input matInput (focus)="picker.open()" [min]="tomorrow" [matDatepicker]="picker" placeholder="Scadenza" class="form-control" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <mat-slide-toggle matRipple  [matRippleColor]="'rgba(123,123,123,0.25)'" class="form-control" *ngIf="!modifyTask?.modify" formControlName="routine" (change)="routineVal = routineVal" color="primary">Routine</mat-slide-toggle>
  <button mat-raised-button color="primary" [disabled]="!taskForm.valid" type="submit">FATTO</button>
</form>