<div class="container" cdkDropListGroup>
  <div>
    <h2>Da sviluppare</h2>
    <div cdkDropList [cdkDropListData]="monitorSer.variableBag[variableType].toAcquire" class="scrolling_container" (cdkDropListDropped)="drop($event)">
      <mat-card *ngFor="let item of monitorSer.variableBag[variableType].toAcquire" class="draggable_var" cdkDrag>
        <div class="preventTextOut">{{item.name}}</div>
        <div *ngIf="behavior.macroType == 'done' || behavior.macroType == 'toImprove'" >
          <ng-container *ngIf="attachIcon(item.id); else de_attach">
            <button  mat-icon-button color="primary" aria-label="attach" (click)="moveVariableFromBag(true, item, 'toAcquire')">
              <mat-icon>attach_file</mat-icon>
            </button>  
          </ng-container>
          <ng-template #de_attach>
            <button mat-icon-button aria-label="deattach" (click)="moveVariableFromBag(false, item)">
              <img src="../../../../../assets/icons/de-attach.png" alt="de-attach" height="22" width="22">
            </button>  
          </ng-template>
        </div>
      </mat-card>
    </div>
  </div>
  <div>
    <h2>Da continuare</h2>
    <div cdkDropList [cdkDropListData]="monitorSer.variableBag[variableType].toKeep" class="scrolling_container" (cdkDropListDropped)="drop($event)">
      <mat-card *ngFor="let item of monitorSer.variableBag[variableType].toKeep" class="draggable_var" cdkDrag>
        <div class="preventTextOut">{{item.name}}</div>
        <button *ngIf="behavior.macroType == 'done' || behavior.macroType == 'toImprove'" mat-icon-button color="primary" aria-label="attach/deattach" (click)="attachVariableFromBag(item, 'toKeep')">
          <mat-icon>attach_file</mat-icon>
        </button>
      </mat-card>
    </div>
  </div>
  <div>
    <h2>Da ridurre</h2>
    <div cdkDropList [cdkDropListData]="monitorSer.variableBag[variableType].toReduce" class="scrolling_container" (cdkDropListDropped)="drop($event)">
      <mat-card *ngFor="let item of monitorSer.variableBag[variableType].toReduce" class="draggable_var" cdkDrag>
        <div class="preventTextOut">{{item.name}}</div>
        <button *ngIf="behavior.macroType == 'hindering'" mat-icon-button color="primary" aria-label="attach/deattach" (click)="attachVariableFromBag(item, 'toReduce')">
          <mat-icon>attach_file</mat-icon>
        </button>
      </mat-card>
    </div>
  </div>
  <div>
    <h2>Da eliminare</h2>
    <div cdkDropList [cdkDropListData]="monitorSer.variableBag[variableType].toRemove" class="scrolling_container" (cdkDropListDropped)="drop($event)">
      <mat-card *ngFor="let item of monitorSer.variableBag[variableType].toRemove" class="draggable_var" cdkDrag>
        <div class="preventTextOut">{{item.name}}</div>
        <button *ngIf="behavior.macroType == 'hindering'" mat-icon-button color="primary" aria-label="attach/deattach" (click)="attachVariableFromBag(item, 'toReduce')">
          <mat-icon>attach_file</mat-icon>
        </button>
      </mat-card>
    </div>
  </div>
  <div>
    <h2>Ridotti</h2>
    <div cdkDropList [cdkDropListData]="monitorSer.variableBag[variableType].reduced" class="scrolling_container" (cdkDropListDropped)="drop($event)">
      <mat-card *ngFor="let item of monitorSer.variableBag[variableType].reduced" class="draggable_var" cdkDrag>{{item.name}}</mat-card>
    </div>
  </div>
  <div>
    <h2>Eliminati</h2>
    <div cdkDropList [cdkDropListData]="monitorSer.variableBag[variableType].removed" class="scrolling_container" (cdkDropListDropped)="drop($event)">
      <mat-card *ngFor="let item of monitorSer.variableBag[variableType].removed" class="draggable_var" cdkDrag>{{item.name}}</mat-card>
    </div>
  </div>
</div>
