.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 30px;
    
    .scrolling_container {
        height: 300px;
        width: 200px;
        min-height: 60px;
        border-radius: 4px;
        overflow-y: auto;
        display: block;
    }
    
    .draggable_var {
        padding: 20px 10px;
        max-height: 60px;
        border-bottom: solid 1px #ccc;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        cursor: move;
        font-size: 15px;
        button {
            cursor: pointer;
        }
    }
    
    .cdk-drag-preview {
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                    0 8px 10px 1px rgba(0, 0, 0, 0.14),
                    0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
    
    .cdk-drag-placeholder {
        opacity: 0;
    }
    
    .cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    
    .example-box:last-child {
        border: none;
    }
    
    .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    .preventTextOut {        
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}