<header>
  <h1>CMonitor</h1>
</header>
<ng-container *ngIf="!($userAuth | async); else theresUser">
  <p>Ti redirecta dove serve</p>
  <form [formGroup]="emailForm" (ngSubmit)="verifyIfMailAlreadyExists()">
    <p>
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label>Inserisci la tua mail</mat-label>
        <input matInput placeholder="" class="form-control" formControlName="email" type="email" required>
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary" [disabled]="emailForm.invalid">CONTINUA</button>
    </p>
  </form>
</ng-container>
<ng-template #theresUser>
  <mat-tab-group *ngIf="$outline | async as outline" mat-align-tabs="start">
    <mat-tab *ngFor="let item of outline">
      <ng-template mat-tab-label>
        <b>{{ item?.id | titlecase | displayCollectionIds }}</b>
      </ng-template>
      <app-chip-list [chipsInfo]="item"></app-chip-list>
    </mat-tab>
  </mat-tab-group>
</ng-template>
