div {
    margin-top: 8px;
    .behavior {
        .mat-card-title {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            margin-bottom: 0px;
            div.name {
                text-transform: capitalize;
                font-size: 19px;
                transition-duration: 300ms;
                transition-property: font-size
            }
            div.name:hover {
                text-transform: capitalize;
                font-size: 19.5px;
            }
            div.infoBehavior {
                display: flex;
                flex-flow: row nowrap;
                button {
                    margin-right: 20px;
                    font-weight: 700;
                }
                mat-form-field  {
                    font-size: 16px;
                }
            }
        }
        .variables {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin-top: 15px;
            .variables_btn {
                .selected-btn {
                    text-decoration: underline;
                    background-color: rgba(#fa8142, 0.1);
                    font-size: 15px;
                }
                button {
                    transition-duration: 150ms;
                    transition-property: text-decoration, background-color, font-size;
                }
                margin-top: 15px;
                flex-grow: 2;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-evenly;
                width: 100%;
            }
            .variableListContainer {
                width: 100%;
                margin-top: 15px;
                mat-list {
                    .itemList {
                        font-size: 17px;
                        width: 100%;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        align-items: center;
                        mat-form-field.nameNotSaved {
                            flex-grow: 2;
                            margin-right: 15px;
                        }
                        .endItem {
                            min-width: 160px;
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: space-between;
                            align-items: flex-end;
                            mat-form-field {
                                width: 110px
                            }
                        }
                    }
                }
            }
        }
    }
    .preventTextOut {        
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}