<div>
  <mat-card class="behavior">
    <!-- BEHAVIOR -->
    <mat-card-title>
      <div class="name" (click)="expandBehavior()">{{behavior.name}}</div>
      <div class="infoBehavior" *ngIf="monitorSer.behaviorExpanded == behavior.id">
        <button mat-mini-fab *ngIf="behavior.macroType == 'hindering'" [color]="behavior.EI ? 'primary' : ''" (click)="behavior.EI = !behavior.EI">E.I.</button>
        <mat-form-field class="slimField" appearance="legacy">
            <mat-select [value]="behavior.mode">
              <mat-option *ngFor="let item of modes" [value]="item.value" [disabled]="isSelectOptionDisabled(behavior.macroType, item.value)">
                {{item.viewValue}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
    </mat-card-title>
    <div *ngIf="monitorSer.behaviorExpanded == behavior.id" class="variables">
        <div class="variables_btn">

            <!-- BUTTON VARIABLES LIST -->
            <button mat-stroked-button [ngClass]="{'selected-btn': varSelected === 'habit'}" (click)="showVarType(habitsArr, 'habit')" [matBadge]="habitsArr.length">Abitudini</button>
            <button mat-stroked-button [ngClass]="{'selected-btn': varSelected === 'mentalPattern'}" (click)="showVarType(mentalPatternsArr, 'mentalPattern')" [matBadge]="mentalPatternsArr.length">Schemi mentali</button>
            <button mat-stroked-button [ngClass]="{'selected-btn': varSelected === 'skill'}" (click)="showVarType(skillsArr, 'skill')" [matBadge]="skillsArr.length">Competenze</button>
            <button mat-stroked-button [ngClass]="{'selected-btn': varSelected === 'identity'}" (click)="showVarType(identitiesArr, 'identity')" [matBadge]="identitiesArr.length">Identità</button>
            <button mat-stroked-button [ngClass]="{'selected-btn': varSelected === 'environment'}" (click)="showVarType(environmentsArr, 'environment')" [matBadge]="environmentsArr.length">Ambiente</button>
        </div>
        <div *ngIf="varSelected" class="variableListContainer">
          <mat-list>
            <!-- LIST OF VARIABLES -->
            {{variablesList | json}}
              <mat-list-item *ngFor="let variable of variablesList">
                <div class="itemList">
                    <ng-container *ngIf="variable.id; else behaviorVariable">
                        <!-- STRATEGY VARIABLE -->
                        <font class="preventTextOut"> {{variable.name}} </font>
                    </ng-container>
                    <ng-template #behaviorVariable>
                      <!-- BEHAVIOR VARIABLE -->
                      <mat-form-field class="slimField nameNotSaved" appearance="legacy">
                          <input matInput [value]="variable.name">
                      </mat-form-field>
                    </ng-template>
                    <div class="endItem">
                        <mat-form-field class="slimField" appearance="legacy">
                            <mat-select [value]="variable.mode" [disabled]="variable.id ? true : false">
                              <mat-option *ngFor="let item of modes" [value]="item.value">
                                {{item.viewValue}}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-icon matListIcon>{{ variable.id ? 'saved' : 'cloud_off' }}</mat-icon>
                    </div>
                </div>
                </mat-list-item>
          </mat-list>
        <app-variable-picker [variableType]="varSelected" [behavior]="behavior" [variablesList]="variablesList" (moveBagVar)="modifyVarInBehavior($event)"></app-variable-picker>
      </div>
    </div>
  </mat-card>
</div>