/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import './theme.scss';

// import custom componenet themes
@import './app/themeComponents/custom-component-themes.scss';

main { // needed to make a smooth animation
    position: relative;
}

.light {
    
    @include angular-material-theme($light-theme);
    @include custom-components-theme($light-theme);
}
.dark {
    @include angular-material-theme($dark-theme);
    @include custom-components-theme($dark-theme);
}

$custom-typography: mat-typography-config($font-family: '"Oxygen", sans-serif;');
@include mat-core($custom-typography);

/* You can add global styles to this file, and also import other style files */

@media (max-width: 599.99px) {
    /*
        headers take up too much space
    */
    header {
        h1 {
            margin-top: 5px
        }
    }
}

header {
    h1 {
        border-bottom: 2px dashed;
        font-size: 40px;
        font-weight: 800
    }
}

html, body {
    height: 100%;
}
body {
    //font-family: 'Open Sans', sans-serif;
    //font-family: 'Carter One', cursive;
    min-height: 100%;
    font-family: 'Oxygen', sans-serif;
    margin: 0;
}

@media screen and (max-width: 377px) {
    // make completed text disappear when mobile
    header > h1 {
        font-size: 35px !important;
    }
}