$my-orange: (
    400: #fb9865,
    500: #fa8142,
    600: #f96a1f,
    contrast: (
        400: #12181b,
        500: white,
        600: white,
    )
);
$my-gray: (
    400: #dbe1e8,
    500: #b2becd,
    600: #454e56,
    contrast: (
        400: #454e56,
        500: #454e56,
        600: white,
    )
);
$my-red: (
    500: #ff3860,
    contrast: (
        500: white,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($my-orange, 500, 400, 600); // default, light, dark
$app-accent:  mat-palette($my-gray, 500, 400, 600);
$app-warn:  mat-palette($my-red, 500);


// instead of creating a theme with mat-light-theme like a sane person, we will create our own theme-creating function that lets us apply our own foreground and background palettes.
@function create-wonky-theme($primary, $accent, $warn, $is-dark, $foreground, $background) {
    @return (
        primary: $primary,
        accent: $accent,
        warn: $warn,
        is-dark: $is-dark,
        foreground: $foreground,
        background: $background,
    );
}

$my-dark-theme-foreground: (
    border-stroked-button: rgba(white, 0.12),
    base:              #b2becd,
    divider:           #b2becd,
    dividers:          black,
    disabled:          rgba(white, 0.3),
    disabled-button:   rgba(white, 0.3),
    disabled-text:     rgba(white, 0.3),
    hint-text:         rgba(255, 255, 255, 0.3),
    secondary-text:    #b2becd,
    icon:              #b2becd,
    icons:             #b2becd,
    text:              #b2becd,
    slider-min:        white,
    slider-off:        rgba(white, 0.3),
    slider-off-active: rgba(white, 0.3),
);

$my-dark-theme-background: (
    percentage: #22292d,
    status-bar: green,
    app-bar:    #2a2e35,
    background: #12181b,
    contrast: #fff,
    hover:      rgba(255, 255, 255, 0.04), 
    card:       #2a2e35,
    dialog:     #12181b,
    disabled-button: rgba(255, 255, 255, 0.22),
    raised-button: #292d34,
    // focused-button: $white-6-opacity,
    // selected-button: map_get($mat-grey, 900),
    // selected-disabled-button: map_get($mat-grey, 800),
    // disabled-button-toggle: black,
    unselected-chip: #454e56,
    disabled-list-option: black,
    shadow: #010101,
    selected-button: rgb(81, 92, 101),
    withinContainer: #454e56,
    focused-button: #fa8142
);
$my-light-theme-foreground: (
    border-stroked-button: rgba(black, 0.12),
    base:              #454e56,
    divider:           #454e56,
    dividers:          black,
    disabled:          #b2becd,
    disabled-button:   rgba(white, 0.3),
    disabled-text:     #b2becd,
    hint-text:         rgba(0, 0, 0, 0.38),
    secondary-text:    #454e56,
    icon:              #454e56,
    icons:             #454e56,
    text:              #454e56,
    slider-min:        white,
    slider-off:        rgba(white, 0.3),
    slider-off-active: rgba(white, 0.3),
);

$my-light-theme-background: (
    percentage: #f8f8f8,
    status-bar: green,
    app-bar:    #dbe1e8,
    background: #fff,
    contrast: #12181b,
    hover:      rgba(0, 0, 0, 0.04), 
    card:       #dbe1e8,
    dialog:     #fff,
    disabled-button: rgba(0, 0, 0, 0.22),
    raised-button: #DDDDDD,
    // focused-button: $white-6-opacity,
    // selected-button: map_get($mat-grey, 900),
    // selected-disabled-button: map_get($mat-grey, 800),
    // disabled-button-toggle: black,
    unselected-chip: #b2becd,
    disabled-list-option: black,
    shadow: #c1c1c1,
    selected-button: #b2becd,
    withinContainer: #b2becd,
    focused-button: #fa8142
);

$custom-theme-primary: mat-palette($mat-green);
$custom-theme-accent: mat-palette($mat-blue);
$custom-theme-warn: mat-palette($mat-red);



$light-theme: create-wonky-theme($app-primary, $app-accent, $app-warn, false, $my-light-theme-foreground, $my-light-theme-background);
$dark-theme: create-wonky-theme($app-primary, $app-accent, $app-warn, true, $my-dark-theme-foreground, $my-dark-theme-background);

