<mat-table *ngIf="needDataSource && BVP.length" [dataSource]="needDataSource" class="mat-elevation-z8" matSort>

  <!-- Name Column -->
  <ng-container matColumnDef="name" >
    <mat-header-cell *matHeaderCellDef class="nameFields" mat-sort-header> Nome </mat-header-cell>
    <mat-cell *matCellDef="let element" class="nameFields" (click)="showNeedInfo(element.id)"> {{element?.name}} </mat-cell>
  </ng-container>
  

  <!-- value Column -->
  <ng-container matColumnDef="satisfied">
    <mat-header-cell *matHeaderCellDef class="satisfiedFields" mat-sort-header> Volte Soddisfatto </mat-header-cell>
    <mat-cell *matCellDef="let element" class="satisfiedFields"> {{element.satisfied}} </mat-cell>
  </ng-container>  


  <!-- Maximum Column -->
  <ng-container matColumnDef="unsatisfied">
    <mat-header-cell *matHeaderCellDef class="unsatisfiedFields" mat-sort-header> Volte Frustrato </mat-header-cell>
    <mat-cell *matCellDef="let element" class="unsatisfiedFields"> {{element.unsatisfied}} </mat-cell>
  </ng-container>  

  <!-- Percentage Column -->
  <ng-container matColumnDef="lastDaySatisfied">
    <mat-header-cell *matHeaderCellDef class="lastDaySatisfiedFields" mat-sort-header> Ultimo giorno Soddisfatto </mat-header-cell>
    <mat-cell *matCellDef="let element" class="lastDaySatisfiedFields"> {{ element.lastDaySatisfied | date: 'dd/MM/yy HH:mm'}} </mat-cell>
  </ng-container>  

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<div class="charts" *ngIf="needToShow && needInfoData">
  <h2>{{needNameToShow}}</h2>
  <div class="chartGroup">
    <h4>&nbsp;-&nbsp;-&nbsp;-&nbsp;&nbsp;Stati d'animo&nbsp;&nbsp;-&nbsp;-&nbsp;-&nbsp;</h4>
    <div class="chart" *ngIf="pieMoodsPosChartData.length">
      <h5>Soddisfatto</h5>
      <canvas baseChart
        [data]="pieMoodsPosChartData"
        [labels]="pieMoodsPosChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend">
        <!--[colors]="pieChartColors"-->
      </canvas>
    </div>
    <div class="chart" *ngIf="pieMoodsNegChartData.length">
      <h5>Insoddisfatto</h5>
      <canvas baseChart
        [data]="pieMoodsNegChartData"
        [labels]="pieMoodsNegChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend">
        <!--[colors]="pieChartColors"-->
      </canvas>
    </div>
  </div>
  <div class="chartGroup">
    <h4>&nbsp;-&nbsp;-&nbsp;-&nbsp;&nbsp;Relazioni&nbsp;&nbsp;-&nbsp;-&nbsp;-&nbsp;</h4>
    <div class="chart"  *ngIf="pieRelationsPosChartData.length">
      <h5>Soddisfatto</h5>
      <canvas baseChart
        [data]="pieRelationsPosChartData"
        [labels]="pieRelationsPosChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend">
        <!--[colors]="pieChartColors"-->
      </canvas>
    </div>
    <div class="chart" *ngIf="pieRelationsNegChartData.length">
      <h5>Insoddisfatto</h5>
      <canvas baseChart
        [data]="pieRelationsNegChartData"
        [labels]="pieRelationsNegChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend">
        <!--[colors]="pieChartColors"-->
      </canvas>
    </div>
  </div>
</div>
