mat-table {
    .nameFields {
        cursor: pointer;
    }
    .nameFields:hover {
        text-decoration: underline;
    }
    .satisfiedFields {    
        justify-content: center;
    }
    .unsatisfiedFields {
        justify-content: center;
    }
    .lastDaySatisfiedFields {

    }
}

.charts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    h2 {
        width: 100%;
    }
    .chartGroup {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        h4 {
            width: 100%;
            text-align: center
        }
        .chart {
            margin-left: 10px;
            margin-right: 10px;
            h5 {
                width: 100%;
                text-align: center
            }
        }
    }
}
@media screen and (min-width: 799.99px) {
    mat-table {
        margin: 0 8%;
    }
    .charts {
        margin: 0 8%;
    }
}


