mat-expansion-panel {
    mat-panel-description {
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        .areyousureText {
            margin-left: 7px;
        }
    }
    .expansion-body {
        display: flex;
        flex-flow: row wrap;
        mat-form-field {
            flex-basis: 460px;
            flex-grow: 2;
            margin: 0 15px;
        }
    }
}
.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

  /* Animate an item that has been dropped. */
.cdk-drag-animating {
    // transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
.custom-placeholder {
    background: rgba(123,123,123, 0.5);
    border: dotted 3px #999;
    min-height: 48px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
mat-card {
    height: 20px;
    font-size: 15px;
    padding: 14px 24px;
    padding-right: 16px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-top: 5px;
}
.addNewBVP {
    box-sizing: content-box;
}

@media screen and (max-width: 380.99px) {
    mat-panel-description {
        // display: none !important;
    }
    mat-card {
        padding: 14px 16px;
    }
    mat-expansion-panel-header {
        padding: 0px 16px !important;
    }
}