<div cdkDropListGroup *ngIf="$needs | async as BVP">
  <h2>Bisogni</h2>
  <mat-accordion id="bisogni" cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-expansion-panel cdkDrag *ngFor="let item of BVP.bisogni;" [@inOutAnimation] (opened)="item.open = true" (closed)="saveNeed(item)">
      <div class="custom-placeholder" *cdkDragPlaceholder></div>
      <mat-expansion-panel-header (keydown.Space)="$event.stopImmediatePropagation();">
        <mat-panel-title *ngIf="!item.areYouSure">
          <font *ngIf="!item.open">{{item.name}}</font>
          <mat-form-field *ngIf="item.open" appearance="standard" (click)="preventClose($event)">
              <input matInput [value]="item.name" (input)="item.name = $event.target.value">
          </mat-form-field>
        </mat-panel-title>
        <mat-panel-description>
            <i *ngIf="item.open" class="material-icons" (click)="delete(item, 'bisogni', false, $event)">
                delete
            </i>
            <div *ngIf="item.open && item.areYouSure">
              <font class="areyousureText">Eliminare?</font>
              <button mat-button (click)="item.areYouSure = false" >No</button>
              <button mat-button (click)="delete(item, 'bisogni', true, $event)" color="warn">Si</button>
            </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="expansion-body">
          <mat-form-field appearance="outline">
            <mat-label>Cosa significa per te?</mat-label>
            <textarea cdkTextareaAutosize matInput [value]="item.meaning" (input)="item.meaning = $event.target.value"></textarea>
          </mat-form-field>
      
          <mat-form-field appearance="outline">
            <mat-label>Perchè è importante?</mat-label>
            <textarea cdkTextareaAutosize matInput [value]="item.whyImportant" (input)="item.whyImportant = $event.target.value"></textarea>
          </mat-form-field>
      </div>
    </mat-expansion-panel>
    <mat-card class="addNewBVP" (click)="addNewNeed('bisogni')">
        <font>Nuova Bisogno</font>
        <i class="material-icons">add_circle_outline</i>
    </mat-card>
  </mat-accordion>
  <h2>Valori</h2>
  <mat-accordion id="valori" cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-expansion-panel cdkDrag *ngFor="let item of BVP.valori;" [@inOutAnimation] (opened)="item.open = true" (closed)="saveNeed(item)">
      <div class="custom-placeholder" *cdkDragPlaceholder></div>
      <mat-expansion-panel-header (keydown.Space)="$event.stopImmediatePropagation();">
        <mat-panel-title *ngIf="!item.areYouSure">
          <font *ngIf="!item.open">{{item.name}}</font>
          <mat-form-field *ngIf="item.open" appearance="standard" (click)="preventClose($event)">
              <input matInput [value]="item.name" (input)="item.name = $event.target.value">
          </mat-form-field>
        </mat-panel-title>
        <mat-panel-description>
            <i *ngIf="item.open" class="material-icons" (click)="delete(item, 'valori', false, $event)">
                delete
            </i>
            <div *ngIf="item.open && item.areYouSure">
              <font class="areyousureText">Eliminare?</font>
              <button mat-button (click)="item.areYouSure = false" >No</button>
              <button mat-button (click)="delete(item, 'valori', true, $event)" color="warn">Si</button>
            </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="expansion-body">
          <mat-form-field appearance="outline">
            <mat-label>Cosa significa per te?</mat-label>
            <textarea cdkTextareaAutosize matInput [value]="item.meaning" (input)="item.meaning = $event.target.value"></textarea>
          </mat-form-field>
      
          <mat-form-field appearance="outline">
            <mat-label>Perchè è importante?</mat-label>
            <textarea cdkTextareaAutosize matInput [value]="item.whyImportant" (input)="item.whyImportant = $event.target.value"></textarea>
          </mat-form-field>
      </div>
    </mat-expansion-panel>
    <mat-card class="addNewBVP" (click)="addNewNeed('valori')">
        <font>Nuova Valore</font>
        <i class="material-icons">add_circle_outline</i>
    </mat-card>
  </mat-accordion>
  <h2>Passioni</h2>
  <mat-accordion id="passioni" cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-expansion-panel cdkDrag *ngFor="let item of BVP.passioni;" [@inOutAnimation] (opened)="item.open = true" (closed)="saveNeed(item)">
      <div class="custom-placeholder" *cdkDragPlaceholder></div>
      <mat-expansion-panel-header (keydown.Space)="$event.stopImmediatePropagation();">
        <mat-panel-title *ngIf="!item.areYouSure">
          <font *ngIf="!item.open">{{item.name}}</font>
          <mat-form-field *ngIf="item.open" appearance="standard" (click)="preventClose($event)">
              <input matInput [value]="item.name" (input)="item.name = $event.target.value">
          </mat-form-field>
        </mat-panel-title>
        <mat-panel-description>
            <i *ngIf="item.open" class="material-icons" (click)="delete(item, 'passioni', false, $event)">
                delete
            </i>
            <div *ngIf="item.open && item.areYouSure">
              <font class="areyousureText">Eliminare?</font>
              <button mat-button (click)="item.areYouSure = false" >No</button>
              <button mat-button (click)="delete(item, 'passioni', true, $event)" color="warn">Si</button>
            </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="expansion-body">
          <mat-form-field appearance="outline">
            <mat-label>Cosa significa per te?</mat-label>
            <textarea cdkTextareaAutosize matInput [value]="item.meaning" (input)="item.meaning = $event.target.value"></textarea>
          </mat-form-field>
      
          <mat-form-field appearance="outline">
            <mat-label>Perchè è importante?</mat-label>
            <textarea cdkTextareaAutosize matInput [value]="item.whyImportant" (input)="item.whyImportant = $event.target.value"></textarea>
          </mat-form-field>
      </div>
    </mat-expansion-panel>
    <mat-card class="addNewBVP" (click)="addNewNeed('passioni')">
      <font>Nuova Passione</font>
      <i class="material-icons">add_circle_outline</i>
    </mat-card>
  </mat-accordion>
</div>